{% extends 'base.html' %}
{% load static %}
{% block content %}

<body  class="bg-dark text-white">
    

<section class="about-section py-5">
  <div class="container">
    <div class="row align-items-center">

      <!-- Image -->
      <div class="col-md-6">
        <img src="{% static 'images\pexels-carl-emil-jorgensen-770124377-33218518.jpg' %}" class="img-fluid rounded shadow" alt="Food">
      </div>

      <!-- Text -->
      <div class="col-md-6">
        <h2 class="mb-3">About Foodie</h2>
        <p>
          At <strong>Foodie</strong>, we believe that food is more than just a meal — it's an experience.
          We serve freshly prepared dishes made with high-quality ingredients, bringing flavor and satisfaction to every bite.
        </p>

        <p>
          Whether you're craving a quick snack or a full-course meal, our menu is designed to suit every taste.
          From local favorites to international cuisines, we make sure every dish is crafted with care.
        </p>

        <p>
          Our mission is simple: <strong>delicious food, fast service, and happy customers.</strong>
        </p>

        <a href="/menu/" class="btn btn-primary mt-3">Explore Menu</a>
      </div>

    </div>
  </div>
</section>

</body>

{% endblock %}